<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find hexapod_description)/urdf/hexapod.gazebo" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find hexapod_description)/urdf/materials.xacro" />
  
	<xacro:macro name="m_base_link" params="name origin_xyz origin_rpy inertia_origin_xyz">
		<link name="${name}">
			<collision>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/base_link_collision.stl" scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
			
			<visual>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/base_link.stl" scale="0.001 0.001 0.001" />
				</geometry>
				<material name="red" />
			</visual>
			
			<inertial>
      			<origin xyz="${inertia_origin_xyz}" rpy="0 0 0"/>
      			<mass value="1.3"/>
      			<inertia ixx="5.404e-3"			ixy="0" 			ixz="0" 
      					 iyx="0"				iyy="3.169e-3" 		iyz="0" 
      					 izx="0"  				izy="0" 			izz="8.191e-3"/>
    		</inertial>
		</link>
	</xacro:macro>

	<xacro:macro name="m_coxa_link" params="name origin_xyz origin_rpy inertia_origin_xyz">
		<link name="${name}">
			<collision>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_coxa_collision.stl" scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
			
			<visual>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_coxa.stl" scale="0.001 0.001 0.001" />
				</geometry>
				<material name="red" />
			</visual>
			
			<inertial>
      			<origin xyz="${inertia_origin_xyz}" rpy="${origin_rpy}"/>
      			<mass value="0.04"/>
      			<inertia ixx="1.605e-5"			ixy="-5.7988e-8"		ixz="0" 
      					 iyx="-5.7988e-8"		iyy="2.012e-5"			iyz="5.7639e-8" 
      					 izx="0"				izy="5.7639e-8"			izz="1.605e-5"/>
    		</inertial>
		</link>
	</xacro:macro>

	<xacro:macro name="m_femur_link" params="name origin_xyz origin_rpy inertia_origin_xyz">
		<link name="${name}">
			<collision>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_femur_collision.stl" scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
			
			<visual>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_femur.stl" scale="0.001 0.001 0.001" />
				</geometry>
				<material name="red" />
			</visual>
			
			<inertial>
      			<origin xyz="${inertia_origin_xyz}" rpy="0 0 0"/>
      			<mass value="0.12"/>
      			<inertia ixx="1.005e-4"			ixy="0"				ixz="0" 
      					 iyx="0"  				iyy="2.532e-5"		iyz="0" 
      					 izx="0"				izy="0"				izz="1.071e-4"/>
    		</inertial>
		</link>
	</xacro:macro>

	<xacro:macro name="m_tibia_link" params="name origin_xyz origin_rpy inertia_origin_xyz">
		<link name="${name}">
			<collision>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_tibia_collision.stl" scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
			
			<visual>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_tibia.stl" scale="0.001 0.001 0.001" />
				</geometry>
				<material name="red" />
			</visual>
			
			<inertial>
      			<origin xyz="${inertia_origin_xyz}" rpy="${origin_rpy}"/>
      			<mass value="0.098"/>
      			<inertia ixx="1.515e-4"			ixy="1.52255e-7"			ixz="-9.144e-5" 
      					 iyx="1.52255e-7"  		iyy="2.328e-4"				iyz="7.0753e-8" 
      					 izx="-9.144e-5"		izy="7.0753e-8"				izz="1.159e-4"/>
    		</inertial>
		</link>
	</xacro:macro>

	<xacro:macro name="m_rubber_tip_link" params="name origin_xyz origin_rpy inertia_origin_xyz">
		<link name="${name}">
			<collision>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_rubber_tip.stl" scale="0.001 0.001 0.001" />
				</geometry>
			</collision>
			
			<visual>
				<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
				<geometry>
					<mesh filename="package://hexapod_description/meshes/leg_rubber_tip.stl" scale="0.001 0.001 0.001" />
				</geometry>
				<material name="red" />
			</visual>
			
			<inertial>
      			<origin xyz="${inertia_origin_xyz}" rpy="${origin_rpy}"/>
      			<mass value="0.002"/>
      			<inertia ixx="1.00584e-7" 			ixy="0" 			ixz="0" 
      					 iyx="0"  					iyy="1.00579e-7"	iyz="0" 
      					 izx="0" 					izy="0" 			izz="1.05103e-7"/>
    		</inertial>
		</link>
	</xacro:macro>
	
	<xacro:macro name="m_joint" params="name type axis_xyz effort lower upper velocity origin_xyz origin_rpy parent child damping" >
		<joint name="${name}" type="${type}">
			<axis xyz="${axis_xyz}" />
			<limit effort="${effort}" lower="${lower}" upper="${upper}" velocity="${velocity}" />
			<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
			<parent link="${parent}" />
			<child link="${child}" />
			<dynamics damping="${damping}"/>
		</joint>
	</xacro:macro>

	<xacro:macro name="m_joint_fixed" params="name type parent child" >
		<joint name="${name}" type="${type}">
			<parent link="${parent}" />
			<child link="${child}" />
		</joint>
	</xacro:macro>

</robot>
